<div class="col-md-30">
    <aside class="col-md-4">
      <section class="question">
        <%= render @question %>
      </section>
      <section class="answers">
        <%= render @question.answers %>
      </section>
      <section class="answer_form">
        <%= render 'shared/answer_form' %>
      </section>
    </aside>
</div>
