<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Question Feed</h3>
      <%= render @questions %>
    </div>
  </div>
<% else %>
    <head>
        <title>Home | Indra's Net</title> 
    </head>
    <body>
        <h1>Indra's Net</h1> 
        <p>
            This is the homepage for Indra's Net, an online forum focused on sharing
            experiences.
        </p> 
    </body>

<% end %>

