<html>
     <head>
        <title>Home | Indra's Net</title> 
    </head>
    <body>
        <h1>Indra's Net</h1> 
        <p>
            This is the homepage for Indra's Net, an online forum focused on sharing
            experiences.
        </p> 
    </body>
</html>
  
