<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Your Communities</h3>
     <%= render @communities %>
  </div>
  <div class="col-md-8">
    <h3>Your Questions</h3>
     <%= render @questions %>
  </div>
</div>