<%= form_with(model: @answer, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Respond to this question" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>