<%= form_with(model: @community, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :name, placeholder: "What Community do you want to create?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>