<div class="row">
  <aside class="col-md-4">
    <section class="users">
      <h1>
        <%= render @community.users %>
      </h1>
    </section>
    <section class="questions">
      <%= render @community.questions %>
    </section>
  </aside>
</div>