<div class="row">
  <aside class="col-md-4">
    <section class="communities">
      <h1>
        <%= render @communities %>
      </h1>
    </section>
     <section class="community_form">
        <%= render 'shared/community_form'  %>
    </section>
  </aside>
</div>